.container {
  padding: 0 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.container div h1 {
  font-size: 3rem;
  font-weight: bold;
  color: darkblue;
  display: inline-block;
}
.container > div {
  display: inline-block;
}
.container > div hr {
  border-top: 4px solid rgb(173, 173, 173);
  margin-top: -1rem;
  margin-left: 0rem;
}
